<!DOCTYPE html>


<div class="about-main">
  <h2>Tsukuba Deliveryとは</h2>
  <p>
    ”つくばデリバリー”はコミュニティスペースを利用する私たちと地域密着型レストランを繋ぐ、<br >
    新しい配達型ミールプラットフォームです。スマホ１つで簡単に注文・決済・受け取りができます。
  </p>
  <img class="about-img" src="/marley-spoon-review-740x560.jpg">
</div>
