<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content = "つくばデリバリー">
    <meta content = "Tsukuba Delivery">
    <meta author = "Kakeru Kurosawa">
    <title>Tsukuba Delivery</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <!--<header>
      <div class="container">
        <div class="header-left">
          <img class="logo" src="">
        </div>
        <div class="header-right">
          <a href="#" class="login">ログイン</a>
        </div>
      </div>
    </header>
  -->
    <div class="top-wrapper">
      <div class="container">
        <h1>Tsukuba Delivery</h1>
        <h2>スマホ１つで注文・決済・受け取り。</h2>
        <p>”つくばデリバリー”はコミュニティスペースを利用する私たちと<br >
          地域のレストランを繋ぐ、新しい配達型ミールプラットフォームです。</p>
        <p>早速あなたの近くの地元の名店を見つけてみましょう。</p>
        <div class="btn-wrapper">
          <div class="btn signup"><%= link_to("新規登録はこちら", "/signup") %></div>
          <!--<p>or sign up with</p>
          -->

        </div>
      </div>
    </div>

    <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h1>Restaurants Partners</h1>
          <p>つくデリパートナーは厳正な審査によって選ばれています。</p>
        </div>
        <div class="lessons">
          <div class="lesson">
            <div class="lesson-icon">
              <img src="">
              <p>I</p>
            </div>
            <p class="txt-contents">創立20周年を迎える老舗のカレー屋さんです。スパイスが自慢チキンカレーが評判</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="">
              <p>C</p>
            </div>
            <p class="txt-contents"> 茨城で食べたい中華ランキングNo1にも選ばれる名店。中でも麻婆豆腐は逸脱。</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="">
              <p>K</p>
            </div>
            <p class="txt-contents">１０年以上にも修行を終え店主がのれんわけを許され、県南初出店のブラックスター。</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="">
              <p>M</p>
            </div>
            <p class="txt-contents">筑波大学への留学を機に日本へ食の文化を広げたいと創業を決意。タコスは大人気の商品。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2>いつもと違う、気になっていたあのお店に<br >注文してみましょう。</h2>
          <h3>Easy order, New neighbors!</h3>
        </div>
        <span class="btn message"><%= link_to("さっそく注文する", "/restaurants/index") %></span>
      </div>
    </div>
    <footer>
      <div class="container">
        <a href="https://www.facebook.com/TsukubaDelivery/" class="btn facebook"><span class="fa fa-facebook"></span>Facebook</a>
        <a href="https://twitter.com/TsukubaDelivery" class="btn twitter"><span class="fa fa-twitter"></span>Twitter</a>
        <img src="">
        <p>Easy order, New neighbors!</p>
      </div>
    </footer>
  </body>
</html>

<style>
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("/food-eating2.jpg");
  background-size: cover;
  color: white;
  text-align: center
}

.top-wrapper h1 {
  opacity: 0.95;
  font-size: 45px;
  letter-spacing: 3px;
}

.top-wrapper h2 {
  opacity: 0.8;
}

.top-wrapper p {
  font-weight: bold;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
  color: white;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  /* positionプロパティをfixedに、topを0に指定してください */
  position: fixed;
  top: 0;
  /* z-indexを10に指定してください */
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;

}

.message-wrapper h2 {
  color: white;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 80px;
  background-color: white;
}

footer .container {
  font-color: white;
}

</style>
