<div class="top-wrapper">
  <div class="container">
    <h1>2.店舗を選びましょう。</h1>
    <h2></h2>
    <p></p>

      <!--<p>or sign up with</p>
      -->

    </div>
  </div>
</div>

<%  @restaurants.each do |restaurant| %>

<div class="posts-index-item">
<div class ="restaurants-index"><p><%= link_to(restaurant.content, "/") %></p></div>
<img src=<%= restaurant.image_name %> >
<p><%= restaurant.content %></p>
<div class="btn-wrapper">
  <div class="btn signup"><%= link_to("ここにする", "/") %></div>
</div>
</div>

<% end %>

<style>
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("/food-eating2.jpg");
  background-size: cover;
  color: white;
  text-align: center
}

.top-wrapper h1 {
  opacity: 0.95;
  font-size: 45px;
  letter-spacing: 3px;
}

.top-wrapper h2 {
  opacity: 0.8;
}

.top-wrapper p {
  font-weight: bold;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #ffe63b;
  color: white;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}
</style>
