<!DOCTYPE html>

<div class="main posts-index">
  <div class="container">


      <%  @restaurants.each do |restaurant| %>

      <div class="posts-index-item">
      <h2><%= link_to(restaurant.content, "/restaurants/#{restaurant.id}") %></h2>
      <img src=<%= restaurant.image_name %> >
      </div>

      <% end %>


  </div>
</div>
