<!DOCTYPE html>
<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p><%= @restaurant.content %></p>
      <img src="/indian_curry_round.jpg">
    </div>

  </div>
</div>
