<!DOCTYPE html>


<%  @restaurants.each do |restaurant| %>

<div class="posts-index-item">
<div class ="restaurants-index"><p><%= link_to(restaurant.content, "/restaurants/#{restaurant.id}") %></p></div>
<img src=<%= restaurant.image_name %> >
</div>

<% end %>
